:root{
    --margin: 60px; 
    --padding:15px;
    --main-color:#3b3b3b;
    --second-color:#ffff;
    --bg-color-light:#f6f6f6;
    --color-yellow:#ffe64d;
    --border-color: #dadada;
    --gray-color:#707070;
    --red-color: #ed1a2c;
    --transtion:0.4s;
   
}
.is-ltr {
  direction: ltr;
}
.is-rtl {
  direction: rtl;
}
button{
  border: none;
}
@font-face {
  font-family: "Cairo-Bold";
  src: local("Cairo"), url(../fonts/Cairo-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Cairo-Regular";
  src: local("Cairo"), url(../fonts/Cairo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "semi";
  src: local("Cairo"), url(../fonts/Cairo-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Cairo"), url(../fonts/Cairo-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Cairo";
  src: local("Cairo"), url(../fonts/Cairo-Black.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: Cairo-Regular;
  font-family: "Cairo-Regular";

}
body{
  font-size: Cairo-Regular;
  font-family: "Cairo-Regular";


}
a {
    text-decoration: none;
    color: var(--main-color);
    transition: all var(--transtion) ease-in-out;
  /* font-size: Cairo-Regular; */

}
li {
    list-style: none;
}
input{
    outline: none;
}
/* Track */
  body::-webkit-scrollbar {
    width: 0.7rem;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--border-color) !important;
    border-radius: 10px !important;

  }